<!doctype html>
<html{{#if locale}} lang="{{locale}}"{{/if}}>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>

		{{#if description}}<!-- Meta description -->
		<meta name="description" content="{{description}}">{{/if}}

		<!-- Handheld support -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Critical CSS -->
		<!--[if (gte IE 9)|!(IE)]><!-->
		<style>{{outputFileContent "./dist/assets/css/starter.min.css"}}</style>
		<!--<![endif]-->

		<!-- Critical JS -->
		<script>document.documentElement.className = 'advanced';
		{{outputFileContent "./dist/assets/js/starter.min.js"}}</script>

		<!-- Lazy-load CSS -->
		<!--[if (gte IE 9)|!(IE)]><!-->
		<script>loadCSS('/assets/css/main.min.css?v={{timestamp}}');</script>
		<noscript><link rel="stylesheet" href="/assets/css/main.min.css?v={{timestamp}}"></noscript>
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<link rel="stylesheet" href="/assets/css/legacy.min.css?v={{timestamp}}">
		<script src="/assets/js/legacy.min.js"></script>
		<![endif]-->
	</head>
	<body class="page page--{{name}}">
		{% body %}

		<!-- Script includes -->
		<script src="/assets/js/main-libs.min.js?v={{timestamp}}"></script>
		<script src="/assets/js/main.min.js?v={{timestamp}}"></script>
	</body>
</html>
