<!doctype html>
<html{{#if locale}} lang="{{locale}}"{{/if}}>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>

		{{#if description}}<!-- Meta description -->
		<meta name="description" content="{{description}}">{{/if}}

		<!-- Handheld support -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS includes -->
		<!--[if (gte IE 9)|!(IE)]><!-->
		<style>{{outputFileContent "./dist/assets/css/starter.min.css"}}</style>
		<link rel="stylesheet" href="/assets/css/main.min.css?v={{timestamp}}">
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<link rel="stylesheet" href="/assets/css/legacy.min.css?v={{timestamp}}">
		<![endif]-->

		<!-- Toggle advanced UI -->
		<script>document.documentElement.className = 'advanced';</script>

		<!--[if lt IE 9]>
		<script src="/assets/js/lib/html5shiv-printshiv.min.js"></script>
		<![endif]-->
	</head>
	<body class="page page--{{name}}">
		{% body %}

		<!-- Script includes -->
		<script src="/assets/js/main-libs.min.js?v={{timestamp}}"></script>
		<script src="/assets/js/main.min.js?v={{timestamp}}"></script>
	</body>
</html>